<div class="menu bubplastic horizontal gray">
  <ul>
    <%= render( {:state => :page_menu}, "Homepage", "root", @current_page, self) %>
    <%= render( {:state => :page_menu}, "Ad Hoc", "adhoc", @current_page, self) %>
    <%= render( {:state => :page_menu}, "About Us", "about", @current_page, self) %>
  </ul>
  <br class="clearit" />
</div>