        <div id="links" class="sidebar_box">
          <h1>Links</h1>
          <ul>
          <% for link in @links %>
            <li><%= link_to link.name, link.url %></li>
          <% end %>
          </ul>
        </div>
